Frozen chopped spinach (thawed and *well* drained) can be substituted for fresh spinach but may result in excess water content and a less creamy taste. Do not use pre-crumbled feta cheese. Use only authentic Greek feta cheese blocks made from sheep's milk.
